{% extends "base.njk" %}

{% block content %}
  <h1>foldings</h1>
  <ul>
    {% for post in collections.post | reverse %}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}