<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
  <header>
    <a href="/">foldings</a> |
    <a href="/about/">about</a>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p style="text-align:center; font-size: 0.8rem; margin-top: 4rem;">
      {{ "now" | date("yyyy") }} w - folded and unfolded and unfolding
    </p>
  </footer>
</body>
</html>